p{
    /* /* color:rgb(159, 38, 207);
    stroke: blue; */
font-family: 'Quattrocento Sans', sans-serif;;    
border: none;
    background:  #aa7bdf;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}
i{
    color:rgb(16, 22, 22)
}
.change_text{
    font-family: 'Quattrocento Sans', sans-serif;    
    color:#FFA500;
    font-size: 30px;
}
a{
    color: rgb(7, 7, 7);
    font-family: 'Quattrocento Sans', sans-serif; 
    font-size: larger; 
}
a:hover{
   color:rgb(18, 13, 66);
   font-family: 'Quattrocento Sans', sans-serif;  
  
}
h1{
    font-family: 'Quattrocento Sans', sans-serif;
    color:navy;
    text-decoration-style: dotted;
}
.sym {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #4c26b3; 
    border-radius: 500%;
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
  }
  h1{
      animation: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  body{
      background-color:rgb(255, 255, 255);
  }
  form{
    font-family: 'Quattrocento Sans', sans-serif;
        background-color: #f4511e;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
  }
  .gfg:hover{
      opacity: 1;
    }
    image{
        width:300;
        height:200;
        align: center
    }
    header{
        width: 100%; height: 100vh;
        background-image: url('bghome1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        }
        .main{
            background-color: cyan;
            font-family: 'Quattrocento Sans', sans-serif;
                }
        input[type=button]{
            font-family: 'Quattrocento Sans', sans-serif;

            width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
        }
